<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edunet: {{board}}</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Edunet -- {{board}}</h1>
  <p>
    {{desc}}
  </p>
  <hr />
  <a href="/edunet/board/{{board}}/post">Post to this board</a>
  <ul>
    {{{posts}}}
  </ul>
</body>
</html>
