<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edunet</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Edunet</h1>
  <em>Hello, {{username}}!</em>&nbsp;&nbsp;<a href="/edunet/signout">Sign Out</a>
  <ul>
    {{{boards}}}
  </ul>
</body>
</html>
