<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edunet - Posting to {{board}}</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Edunet -- {{board}}</h1>
  <hr />
  <h4>Posting to <code>{{board}}</code></h4>
  <p>
    By posting to {{board}}, you agree that your post does <strong>not</strong> contain:
  </p>
  <ul>
    <li>
      Offensive language above "mild" (see
      <a href="https://www.ofcom.org.uk/__data/assets/pdf_file/0023/91625/OfcomQRG-AOC.pdf">this
      list</a><sup>[PDF]</sup>, pages 5-12)
    </li>
    <li>
      Offensive imagery or content
    </li>
  </ul>
  <form action="/edunet/board/{{board}}/post" method="POST">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" />
    <br />
    <label for="contents">Contents: </label><br />
    <span style="font-size:75%;">Full Markdown and no HTML is supported.</span><br />
    <textarea id="contents" name="contents"></textarea>
    <br />
    <input type="submit" />
  </form>
</body>
</html>
