<!DOCTYPE html>
<html>
<head>
  <title>Edunet - {{title}}</title>
  <meta charset="utf-8" />
  <link href="/edunet/bower_components/highlight.js/src/styles/default.css" rel="stylesheet"/>
</head>
<body>
  <h1>Edunet -- {{board}}</h1>
  <hr />
  <h4 style="margin-bottom:0">{{title}}</h4>
  <h5 style="margin-top:0">{{user}} - <em>{{date}}</em></h5>
  <p>
    {{{contents}}}
  </p>
  <hr />
  {{{replies}}}
  <form action="/edunet/posts/{{user}}/{{board}}/{{id}}/reply" method="POST">
    <label for="contents">Reply: </label><br />
    <span style="font-size:75%;">Full Markdown and no HTML is supported.</span><br />
    <textarea id="contents" name="contents"></textarea>
    <br />
    <input type="submit" value="reply" />
  </form>
</body>
</html>
