<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edunet</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Edunet</h1>
    <h4>Please log in to Edunet.</h4>
    <em>By using Edunet, you agree to usage of cookies on your computer.</em>
    <h6><strong>NOTE: </strong>The CAPTCHA generator is horrible, if you get a
    hard one then just reload, you'll get a new one.</h6>
    <span style="color:#F00;display:{{displayError}};">Error: {{error}}<br /></span>
    <form action="/edunet/signin" method="POST">
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" />
        <br />
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" />
        <br />
        <label for="captcha">CAPTCHA: {{equation}}=</label>
        <input id="captcha" type="text" name="captcha" autocomplete="off"/>
        <input type="submit" value="Login" />
    </form>
    <a href="/edunet/signup">Sign Up!</a>
    <hr />
    <p>
        <em>Edunet version 1.0.0</em>
    </p>
</body>

</html>
